<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i> Danh sách User
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th>FullName</th>
          <th>UserName</th>
          <th>Created</th>
          <th>Khởi tạo từ</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of arrUser | paginate: { itemsPerPage: 2, currentPage: p }">
          <td>{{ item.fullname }}</td>
          <td>{{ item.username }}</td>
          <td>{{ item.created | date : 'dd/MM/YYYY HH:mm:ss' }}</td>
          <td>{{ today - item.created | date : 'mm:ss' }}</td>
          <td>
            <span class="badge badge-success">Active</span>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </ul>
  </div>
</div>
